@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.tecnico{

.caminho{
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px;
  padding-left: 13.5vw;
  background-color: #000;

  h3{
    color: #ffffff;
    text-decoration: underline;
    font: 500 20px 'Inter';
  }

  hr{
    width: 30px;
    height: 1px;
  }
}

.secao0-tecnico{
 
 display: flex;
 justify-content: flex-start;
 align-items: center;
 background-image: url('../../../public/assets/images/curso-tecnico.png');
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 height: 65vh;
 max-width: 100%;

 .texto-sec0-tecnico{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 32vw;
    margin-left: 17vw;
    margin-bottom: 12vh;
    h2{

        font: 600 60px 'Arial';
        color: #fff;
        span{
            color: #86B9C7;
        }
    }
    p{
        font: 600 30px 'Arial';

    }
 }
 }

  .barrinha{
    background-color: #86B9C7;
    width: 100%;
    height: 2vh;
   }

   .barra-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1E2D3B;
    margin-top: 11vh;
    padding: 15px;

    h2{
        font: 600 25px 'Arial';
    }
   }

   .aba-cursos{
    background-color: #1E2D3B;
    margin-top: 10vh;
    height: 55vh;
    width: 75vw;
    justify-self: center;
    border-radius: 20px;

    h1{
        font: 600 45px 'Arial';
        color: #A6D7FF;
        text-align: center;
        padding-top: 5vh;
    }
   }

  #form-tec{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: #1E212B;
     padding: 50px;
     gap: 20px;
     margin-top: 6em;
  

        h2{
            font: 600 36px 'Inter';
            color: #ffffff;
        }
        h3{
            font: 600 26px 'Arial';
        }
        hr{
            background-color: #b1aeae;
            width: 10vw;
            height: 2px;
            border: none;
        }
        P{
            font: 300 28px 'Inter';
            color: #fff;
            width: 60vw;

            span{
                font-weight: 600;
            }
        }

    #vantagens{
         display: flex;
         flex-direction: column;
         margin-top: 70px;
         gap: 25px;

         div{
            display: flex;
            flex-direction: row;
            gap: 15px;
            align-items: center;

            label{
                font: 600 15px 'Arial';
                width: 12vw;
                background-color: #242832;
                border-radius: 16px;
                border: 1px solid #0A3E58;
                padding: 7px;
            }
      }     
    }
  } 
}