
#container{
  
 display: flex;
 flex-direction: row;
 background-color: #1A1D24;
 border: 1px solid #000;
 border-radius: 5px;
 max-width: fit-content;
 margin: 0 auto;
 margin-top: 15em;
 margin-bottom: 15em;

 img{
    width: 40vw;
    background: linear-gradient(to bottom right, #1A1D24, #2A3858 );
 }

 #perguntas{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    border-right: solid 1px #000;

    h2{
      font: 500 30px 'Inter';
      color: #DFDFDF;
    }

    .pergunta{
        background-color: #000;
        border-radius: 5px;
        max-width: 30vw;
        padding: 10px;

        h3{
        font: 500 20px 'Inter';
        color: #79DFFB;
        }
        p{
        font: 500 18px 'Inter';
        color: #A2A2A2;
        }

    }
 }


}