
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.landing-page{


    .secao1{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 130px;
        padding: 10vh;

    h1{
       font: 500 35px 'Inter';
       color: #D9D1D1;
       max-width: 34vw;
    }


    .carrossel-cursos{
        display: flex;
        flex-direction: row;
        gap: 7vw;

        .bdtitle{
            position: absolute;
            color: #ffffff;
            top: 200%;
            left: 25%;
            font: 600 24px 'Inter';
            display: none;
        }


         .adstitle{
            position: absolute;
            color: #000;
            top: 197%;
            left: 44%;
            font: 600 24px 'Inter';
            display: none;
        }

         .redestitle{
            position: absolute;
            color: #000;
            top: 200%;
            left: 65%;
            font: 600 24px 'Inter';
            display: none;
        }

        .bd:hover{
             width: 14vw;
             height: 50vh;
             filter: opacity(70%);
        }
        .bd:hover + .bdtitle{
            display: block;
        }

       .ads:hover{
             width: 14vw;
             height: 50vh;
             filter: opacity(70%);
        }

        .ads:hover + .adstitle{
            display: block;
        }

       .redes:hover{
             width: 14vw;
             height: 50vh;
             filter: opacity(60%);
        }
        .redes:hover + .redestitle{
            display: block;
        }
        img{
            border-radius: 20px;
            width: 13vw;
            height: 47vh;
        }
    }

     .bdtext{
        display: none;
        background-color: #000;
        }

        .adstext{
           display: none;
           background-color: #000;
        }

        .redestext{
             display: none;
             background-color: #000;
        }
    }

     .secao2{
        display: flex;
        flex-direction: row;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 3vh;
        padding-bottom: 3vh;

       .gradiente{
        border-top-right-radius: 34px;
        border-bottom-right-radius: 34px;
        width: 37vw;
        height: 80vh;
        border: 3px 3px #940707;
        
       }

       .img-sec2{
        position: relative;
        left: -22%;
        margin-top: 5vh;
        width: 25vw;
        height: 70vh;
        border-radius: 34px;
       }

       .modalidades{
            display: flex;
            flex-direction: column;
            position: relative;
            gap: 15vh;
            padding-top: 65px;
            right: 13%;

            h1{
                font: 600 46px "Arial";
                width: 24vw;
            }

            .opcoes{
                display: flex;
                position: relative;
                flex-direction: column;
                gap: 30px;
                padding-left: 2vw;

                h3{
                    font: 600 30px 'Arial';
                    width: 16vw;
 
                .seta{
                    float: right;
                }
                }

                hr{
                    width: 16vw;
                }
            }
       }

    }

     .secao3-Graduados{
      
         display: flex;
         flex-direction: row;
         justify-content: center;
         background-color: #1C4355;
         padding-top: 6vh;
         gap: 9vw;

         .texto{
            display: flex;
            flex-direction: column;
            background-color: #2E4853;
            box-shadow: 1px 1px #000;
            border-radius: 40px;
            max-height: 38vh;
            max-width: 33vw;
            justify-content: center;
            gap: 50px;
            padding: 3vw;
            margin-top: 50px;

            h1{
                color: #fff;
                font: 600 40px 'Arial';
                width: 26vw;
            }
            p{
                color: #fff;
                font: 600 24px 'Arial';
                width: 22vw;

            span{
                color: #3AC9E3;
                text-decoration: underline;
                }
               
            }
         }

         .graduanda{
           width: 22vw;
          
         }
     }

     .secao3-Tecnicos{
         display: flex;
         flex-direction: row-reverse;
         justify-content: center;
         background-color: #1C365C;
         padding-top: 6vh;
         gap: 9vw;
      
         
        .texto{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 35px;
            max-height: 38vh;
            max-width: 33vw;
            box-shadow: 1px 1px #000;
            background-color: #1E3557;
            border-radius: 40px;
            padding: 3vw;

            h1{
                color: #fff;
                font: 600 40px 'Arial';
                width: 26vw;
            }
            p{
                color: #fff;
                font: 600 24px 'Arial';
                width: 22vw;
            }
        
            .link{
             color: #A3A3A3;
             font-size: 26px;
             font-weight: bold;
             text-decoration: underline;

             .seta{
                width: 26px;
                height: 20px;
             }
            }
       }
           .tecnica{
                width: 34vw;
                
     }
    }

     .secao4-Avaliacoes{

        background: linear-gradient(to bottom left, #1A1D24, #2A313D );
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding: 15vh;
        gap: 25px;

        hr{
            width: 80vw;
        }

        h1{
          font: 600 50px 'Arial';
          width: 29vw;
          color: #fff;     
        }

       #avaliacoes{
        display: flex;
        flex-direction: column;
         
       .avaliacao{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 35px;
        padding-top: 50px;

        img{
            width: 15em;
            border-radius: 10px;
        }

        p{
        font: 600 22px 'Arial';
        width: 40vw;
        background-color: #3e4653;
        padding: 15px;
        border-radius: 5px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s ease;
        }
 
        img:hover{
         width: 18em;
        }

        img:hover + .nome-curso + p{
            visibility: visible;
            opacity: 1;
            transform: translateX(60px);
        }

        .nome-curso{
            h2{
                font: 600 32px 'Arial';
                color: #fff;
            }
            h3{
                font: 600 20px 'Arial';
                color: #C7C7C7;
            } 
         }
       }
      }
    }

     .secao4-part2{

       display: flex;
       flex-direction: row;
       padding-top: 3vh;
       padding-bottom: 3vh;
       align-items: center;


       .fundo-laranja{
        background-color: #DD6937;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 43vw;
        height: 45vh;

        img{
            width: 32vw;
            top: 11%;
            left: 25%;
            position: relative;
        }
       }

       .texto{
        display: flex;
        flex-direction: column;
        gap: 35px;
        padding-left: 5vw;

        h1{
            font: 600 42px 'Inter';
            width: 32vw;
            color: #fff;
        }

        .grad-pos{
          display: flex;
          gap: 8.2vw;

          
       
          .grad{
            font: 500 25px 'Inter';
            color: #DD6937;
            text-decoration: underline;
          }
          .pos{
            font: 500 25px 'Inter';
            color: #377FDD;
            text-decoration: underline;
          }
        }

         .tec-livre{
          display: flex;
          gap: 10vw;

          .tec{
            font: 500 25px 'Inter';
            color: #86B9C7;
            text-decoration: underline;
          }
          .livre{
            font: 500 25px 'Inter';
            color: #DA8632;
            text-decoration: underline;
           }
         }
       }
    }


    //resposividade

  @media screen and (max-width: 1024px){
       .landing-page{
        width: 100vw;
       }
    }

    @media screen and (max-width: 768px){
       .landing-page{
        width: 100vw;
       }
    }

      @media screen and (max-width: 480px){
       .landing-page{
        width: 100vw;
       }
    }
}
