.cabecalho{

    .principal{
        display: flex;
        flex-direction: column;
        background-color: #1A3541;
        height: 16vh;
        padding-top: 20px;


        .superior{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            height: 16vh;


            img{
                width: 430px;
                height: 128px;
          
            }

            .contato{
                background-color: #1C3946;
                border-radius: 10px;
                border-style: none;
                font: 600 20px 'Arial';
                color: #fff;
                width: 12vw;
                height: 4vh;
                margin-top: 38px;
            }

            .contato:hover{
                box-shadow: 1px 4px 1px  #000000;
            }

            input{
                background-color: #fff;
                padding: 0%;
                width: 14vw;
                height: 4vh;
                outline: none;
                font: 600 15px 'Arial' ;
                border-radius: 10px;
                padding: 15px;
                margin-top: 45px;
            }
        }

    }

     .inferior{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: #172E38;
            max-height: 5vh;
            gap: 9vw;
            padding: 40px;

            h2{
                color: #fff;
                font: 700 23px 'Arial' ;
            }

            h2:hover{
                text-decoration: underline;
                color: #76C3A4;
            }
        }

}